<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <div class="card">
      <div class="card-image">
        <img src="/img/addproject.jpeg" alt="">
        <span class="card-title add-project" style="font-weight: bolder;">
          Registrar Libro
        </span>
      </div>
      <form autocomplete='off' action="/project/add/{{ libros._id }}" method="post">
        <div class="card-content">
          <div class='input-field'>
            <label for='titulo'>Titulo de libro</label>
            <input 
            placeholder='El titulo de libro aqui' 
            id='titulo' 
            name='titulo' 
            type='text' 
            class="validate"
            value="{{libros.titulo}}"
            required 
            />
            <span
            class="helper-text"
            data-error="Es necesario ingresar el titulo de libro 👆"
            data-success="✅ Correcto"></span>
            {{#if errorModel.name}}
            <span style="color:crimson">Error: {{errorModel.name }}</span>
            {{/if}}
          </div>
          <div class='input-field'>
            <label for='autor'>Autor</label>
            <input 
            placeholder='El autor aqui' 
            id='autor' 
            name='autor' 
            type='text' 
            class="validate"
            value="{{libros.autor}}"
            required 
            />
            <span
            class="helper-text"
            data-error="Es necesario ingresar el autor 👆"
            data-success="✅ Correcto"></span>
            {{#if errorModel.name}}
            <span style="color:crimson">Error: {{errorModel.name }}</span>
            {{/if}}
          </div>
          <div class='input-field'>
            <label for='categoria'>Categoría</label>
            <input 
            placeholder='Categoría aqui' 
            id='categoria' 
            name='categoria' 
            type='text' 
            class="validate"
            value="{{libros.categoria}}"
            required 
            />
            <span
            class="helper-text"
            data-error="Es necesario ingresar la categoría 👆"
            data-success="✅ Correcto"></span>
            {{#if errorModel.name}}
            <span style="color:crimson">Error: {{errorModel.name }}</span>
            {{/if}}
          </div>
          <div class='input-field'>
            <label for='isbn'>ISBN</label>
            <input 
            placeholder='El ISBN aqui' 
            id='isbn' 
            name='isbn' 
            type='text' 
            class="validate"
            value="{{libros.isbn}}"
            required 
            />
            <span
            class="helper-text"
            data-error="Es necesario ingresar el ISBN👆"
            data-success="✅ Correcto"></span>
            {{#if errorModel.name}}
            <span style="color:crimson">Error: {{errorModel.name }}</span>
            {{/if}}
          </div>
          <div class='input-field'>
            <label for='copias_disponibles'>Copias disponibles</label>
            <input 
            placeholder='Copias disponibles aqui' 
            id='copias_disponibles' 
            name='copias_disponibles' 
            type='text' 
            class="validate"
            value="{{libros.copias_disponibles}}"
            required 
            />
            <span
            class="helper-text"
            data-error="Es necesario ingresar copias disponibles 👆"
            data-success="✅ Correcto"></span>
            {{#if errorModel.name}}
            <span style="color:crimson">Error: {{errorModel.name }}</span>
            {{/if}}
          </div>


         
        <div class="card-action">
          <button type="submit" class="blue darken-3 waves-effect waves-light btn">
            <i class="material-icons left">note_add</i> Agregar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>